body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    
}

.overlay {
    position: relative;
    height: 300px;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, ); 
    color: white;
    text-align: center;}

    .imagem-overlay {
        width: 500px;
        height: auto;
        margin-bottom: 20px; 
    }

    
.navbar {
    overflow: hidden;
    background-color: #d70000;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000; 
    display: flex;
    justify-content: space-around;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ff0000;
}
.content {
    padding: 16px;
    margin-top: 50px;
}

header{

    background-color: rgba(31, 31, 31, 0);
    text-align: center;
    padding: 10px;

}  
.footer {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

.footer.contact-info{
    margin: 10px 0;
} 
.footer .social-links{
    margin: 10px 0;
}
.footer .copyright {
    margin: 10px 0;
}

.footer .social-links a {
    color: rgb(255, 0, 0);
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
}
.social-links a {
    color: rgb(255, 0, 0);
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
}
.footer .social-links a:hover {
    text-decoration: underline;
}
.logo img{
    width: 70px;
    border-radius: 50%;   
    height: 70px;
    border: 1px solid rgb(0, 0, 0);
}
.logo{
    display: flex;
    position: absolute;
    left: 20px;
    top: 70px;
    width: 150px; 
    height: auto; 
}
.sobre img{
    width: 500px;
}
.sobre{
    text-align: center;
}